.container {
    margin-top: 10em;
}

.inputs {
    display: flex;
    justify-content: center;
}

.inputForm {
    background-color: rgb(242, 242, 242);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 2px 12px -1px rgba(0,0,0,0.45);
    -webkit-box-shadow: 1px 2px 12px -1px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 2px 12px -1px rgba(0,0,0,0.45);
}

.input-labal{
    width: 300px;
}